<form method="post">
    <div class="col-lg-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ayarları Düzenle
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class=""><a href="#generalinfo-pills" data-toggle="tab">Genel Bilgiler</a>
                    </li>
                    <li class=""><a href="#emailserver-pills" data-toggle="tab">Email Server</a>
                    </li>
                    <li class=""><a href="#aboutus-pills" data-toggle="tab">Hakkımızda Sayfası</a>
                    </li>
                    <li class=""><a href="#contactus-pills" data-toggle="tab">İletişim Sayfası</a>
                    </li>
                    <li class=""><a href="#referances-pills" data-toggle="tab">Referanslar Sayfası</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="generalinfo-pills">
                        <label class="control-label col-lg-4">Adı</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[title]" value="{{ setting.title }}" placeholder="Adı" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Kısa Açıklama</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[description]" value="{{ setting.description }}" placeholder="Kısa Açıklama" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Anahtar Kelimeler</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[keywords]" value="{{ setting.keywords }}" placeholder="Anahtar Kelimeler" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Firma Adı</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[company]" value="{{ setting.company }}" placeholder="Firma Adı" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Adresi</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[address]" value="{{ setting.address }}" placeholder="Adresi" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Telefon Numarası</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[phone]" value="{{ setting.phone }}" placeholder="Telefon Numarası" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Fax Numarası</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[fax]" value="{{ setting.fax }}" placeholder="Fax Numarası" class="form-control">
                        </div>
                        <label  class="control-label col-lg-4">Aktif Durumu</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[status]" value="{{ setting.status }}" placeholder="True/False" class="form-control">
                        </div>
                        <div class="row"></div>
                    </div>
                    <div class="tab-pane fade " id="emailserver-pills">
                        <label class="control-label col-lg-4">Email </label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[email]" value="{{ setting.email }}" placeholder="Email Server" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">Email Şifre</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[smtppassword]" value="{{ setting.smtppassword }}" placeholder="Email Şifre" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">SMTP Email</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[smtpemail]" value="{{ setting.smtpemail }}" placeholder="Email" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">SMTP Port</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[smtpport]" value="{{ setting.smtpport }}" placeholder="SMTP Port" class="form-control">
                        </div>
                        <label class="control-label col-lg-4">SMTP Server</label>
                        <div class="col-lg-8">
                            <input type="text" name="setting[smtpserver]" value="{{ setting.smtpserver }}" placeholder="SMTP Server" class="form-control">
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="tab-pane fade" id="aboutus-pills">
                        <div class="col-lg-12">
                            <textarea id="abouts" name="setting[abouts]" rows="10">{{ setting.abouts }}</textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contactus-pills">
                        <div class="col-lg-12">
                            <textarea id="contact" name="setting[contact]" rows="10">{{ setting.contact }}</textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="referances-pills">
                        <div class="col-lg-12">
                            <textarea id="referances" name="setting[referances]" rows="10">{{ setting.referances }}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right" style="margin-top: 50px;margin-right: 20px">KAYDET</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    ClassicEditor
        .create( document.querySelector( '#aboutus' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
    ClassicEditor
        .create( document.querySelector( '#contact' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
    ClassicEditor
        .create( document.querySelector( '#referances' ) )
        .catch( error => {
            console.error( error );
        } );
</script>