<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">


                    <div class="carousel-inner fa-border" >

                        {% for key, rs in sliders %}
                            <div class="item{{ key==0 ? " active" : "" }}">
                                <div class="col-sm-3">
                                    <h2>{{ rs.title }}</h2>
                                    <p>{{ rs.description }}</p>
                                    <a href="{{ path('product_detail', {'id': rs.id }) }}"><button type="button"  class="btn btn-default get">Ürünü İncele</button></a>
                                </div>
                                <div class="col-sm-6">
                                    <img src="{{ asset('uploads') }}/images/{{ rs.image }}" class="girl img-responsive" style="width: 350px; height: 350px"/>
                                </div>
                            </div>
                        {% endfor %}



                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->