
                    {% block content %}

                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"> Kayıt Bilgileri </h3>
                                        </div>
                                    </div>

                                    <form role="form" method="post">
                                        <div class="form-group">
                                            <label>Adı Soyadı</label>
                                            <input type="text" name="name" value="{{ user.name }}" class="form-control" placeholder="Adı Soyadı">
                                        </div>

                                        <div class="form-group">
                                            <label>E-Mail</label>
                                            <input type="email" name="email" value="{{ user.email }}" disabled class="form-control"  placeholder="E-Mail Adresiniz">
                                        </div>

                                        <div class="form-group">
                                            <label>Şifre</label>
                                            <input type="password" name="password" value="{{ user.password }}" class="form-control"  placeholder="Şifrenizi Girin">
                                        </div>
                                        <div class="form-group">
                                            <label>Adres</label>
                                            <input type="text" name="address" value="{{ user.address}}" class="form-control" placeholder="Adres">
                                        </div>
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input type="text" name="phone" value="{{ user.phone }}" class="form-control" placeholder="Tel No">
                                        </div>
                                        <div class="form-group">
                                            <label>Şehir</label>
                                            <input type="text" name="city" value="{{ user.city }}" class="form-control" placeholder="Şehir">
                                        </div>

                                        <input type="hidden" name="token" value="{{ csrf_token('user-form') }}">
                                        <button type="submit" class="btn btn-success">Güncelle</button>

                                    </form>
                                </div>

                            </div>
                        </div>

                    {% endblock %}