
{% extends 'adminbase.html.twig' %}
    {% block title %}Sipariş Listesi  {% endblock %}
   {% block content %}
<div class="col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Sipariş Listesi
            </h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Shipinfo</th>
                    <th>Note</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.name }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.shipinfo }}</td>
                        <td>{{ order.note }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <a href="{{ path('admin_orders_show', {'id': order.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
   {% endblock %}
