
<div class="">
    <div >
        <div >

        </div>

        <form role="form" method="post">
            <div class="form-group">
                <label class="">Kategorisi </label>
                <select name="product[category_id]" class="form-control">
                    {%  if (catname) %}
                        <option value="{{ product.categoryid }}">{{ catname[0].title }}</option>
                        <option value="0">Ana Kategori</option>
                    {% endif %}
                    {% for cat in catlist %}
                        <option value="{{ cat.id }}">{{ cat.title }}</option>
                    {% endfor %}

                </select>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" name="product[title]" value="{{ product.title }}" class="form-control"  placeholder="title">
            </div>

            <div class="form-group">
                <label>Keywords</label>
                <input type="text" name="product[keywords]" value="{{ product.keywords }}" class="form-control"  placeholder="keywords">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" name="product[description]" value="{{ product.description }}" class="form-control"  placeholder="description">
            </div>


            <div class="form-group">
                <label>Aktif Durumu </label>
                <select name="product[status]" class="form-control">
                    <option selected>True</option>
                    <option>False</option>
                </select>
            </div>

            <div class="form-group">
                <label>Alış fiyatı</label>
                <input type="text" name="product[pprice]" value="{{ product.pprice }}" class="form-control"  placeholder="Alış Fiyatı">
            </div>

            <div class="form-group">
                <label>Satış fiyatı</label>
                <input type="text" name="product[sprice]" value="{{ product.sprice }}" class="form-control"  placeholder="Alış Fiyatı">
            </div>

            <div class="form-group">
                <label>Miktar</label>
                <input type="text" name="product[amount]" value="{{ product.amount }}" class="form-control"  placeholder="Alış Fiyatı">
            </div>

            <div class="form-group">
                <label>Detay</label>
                <textarea id="detail" name="product[detail]" rows="10" cols="100">{{ product.detail }}</textarea>
            </div>

            <button type="submit" class="btn btn-success">Kaydet</button>
        </form>

    </div>

</div>

<script>
    ClassicEditor
        .create( document.querySelector( '#detail' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
